<section class="home">

    <img src="../../assets/tickets.png">

<div class="container" >

    <h2 style="color:rgba(0, 0, 0, 0.616);  padding: 4px; text-align:center; margin-top: 3px; ">TRAIN TICKET</h2>

    <br>

    <div>

        <label for="name;" >Passenger Name : </label>

    </div>

    <br>



    <div>

        <label for="name;" >Train Name : </label>

    </div>

    <br>



    <div>

         <label for="name">Seat Number : </label>

    </div>

    <br>

    <div>

        <label for="Date">Date : </label>

    </div>

    <br>

    <div>

        <label for="Name">Charge : </label>

    </div>

    <br>

    <br>

    <br>

    <br>

    <br>
